.contactusContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    gap: 3rem;
  }
  .contactus h2 {
    text-transform: uppercase;
  }
  .contactAddress {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    color: #faa307;
    font-size: 2rem;
    font-weight: 40rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.05);
    padding: 2rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.05);
    transition: all 0.5s;
  }
  .contactus h2 {
    color: navy;
    font-size: 2rem;
  }
  
  .contactAddress h3 {
    font-size: 2rem;
    font-weight: 40rem;
  }
  .contactAddress p {
    font-size: 1.5rem;
  }
  
  .contactAddress:hover {
    transform: translateY(-1.5rem);
  }
  